@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/*shared styles*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}

h1 {
  font-size: 150%;
  color: #182b4a;
}

button {
  border-radius: 50px;
  border: none;
  padding: 10px;
  background-color: #1875f0;
  color: white;
  cursor: pointer;
  width: 20vw;
  font-size: 1.2em;
}

h1 {
  margin: 20px 0;
}

input[type="radio"]:hover {
  cursor: pointer;
}

/*first-page*/

.first-page {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*map styles*/

.caption {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

path {
  fill: white;
  stroke: black;
}

.path-hover {
  fill: rgb(204, 204, 204);
  cursor: pointer;
}

.path-clicked {
  fill: #1875f0;
  cursor: pointer;
}

.path-clicked + text {
  fill: white;
}

text {
  font-size: 13px;
}

.districts {
  display: flex;
  flex-wrap: wrap;
}

.district {
  flex: 0 0 25%;
  margin: 5px 15px;
  margin-left: 0;
}

input[type="radio"] {
  text-align: left;
  margin-right: 5px;
}

/*estate types*/

.estate-type-radios {
  display: flex;
  flex-wrap: wrap;
}

.estate-label {
  flex: 0 0 25%;
  margin: 5px 15px;
  margin-left: 0;
}

/*continue button*/

#continue {
  margin: 20px;
  margin-left: 0;
  width: 20%;
}

/*page 2*/

.second-page {
  width: 30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

/*contact details*/

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

input[name="contact-details"] {
  border-radius: 5px;
  border: 0.5px solid black;
  height: 3vh;
  margin-top: 10px;
  padding: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.buttons-second-page {
  width: 45%;
}

#back {
  background-color: white;
  color: #000000;
  border: 2px solid rgb(126, 126, 126);
}

#back:hover {
  border: 2px solid black;
}
